/*--------------------------------------------------------------
Header & Top-Area
--------------------------------------------------------------*/
#masthead{
	position: relative;
	width: 100%;
	margin: 0;
	height: auto;
	background: $brand-main;
	z-index: 11;
}
#masthead.stickyhead{
	position: fixed;
	top: 0;
	max-width: 100%;
	height: 80px;
}
.header{
	width: 100%;
	max-width: 1040px;
	height: 166px;
	margin: 0 auto;
	padding: 30px;	
}
.logo{
	background: url('../img/logo-full.png') 0 0 no-repeat;
	float: left;
	width: 100%;
	max-width: 137px;
	height: 94px;
	margin: 0;
	padding: 0;
	transition: all 250ms ease;
}
.logo.small{
	background: url('../img/logo-small.png') 0 0 no-repeat;
	max-width: 190px;
	height: 39px;
	margin: -12px 0 0 0;
	transition: all 150ms ease;
}
.top-area{
	float: right;
	margin: 0 0 35px 0;
	background: $brand-main;	
}
.social{
	display: inline;
	margin: 15px 0px;
	padding-right: 10px;
	
	a li{
		display: inline;
		padding: 0px 1px;
		border-radius: 100%;
		text-align: center;
		vertical-align: middle;
		line-height: 35px;
		list-style: none;
	}
	
	.fa{ //font-awesome icon class
		background: white;
		width: 34px;
		height: 34px;
		line-height: inherit;
		border-radius: 50%;
		color: $brand-main;
		box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
		text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
		&:hover{
			background: darken( white, 10%);
		}
	}		
}
.quick-links{
	display: inline;
}



/*--------------------------------------------------------------
Container, Content, Pads (main)
--------------------------------------------------------------*/
body.home .container{ //on homepage layout, set to full width, use padding on ".content"
	width: 100%;
	margin: 0;
}
body.page .container{ //on all page layouts, set a max-width & padding
	max-width: 1040px;
	margin: 0 auto;
	padding: 72px 30px;
	overflow: hidden;
    zoom: 1;
}

.content{ //used to pad homepage sections w/ different background colors
	max-width: 1040px;
	margin: 0 auto;
	padding: 72px 30px;
	overflow: hidden;
    zoom: 1;
}


/*--------------------------------------------------------------
Homepage
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Homepage video section
--------------------------------------------------------------*/
.video{
	width: 100%;
	height: 566px;
	background: url('../img/vid-bg.jpg'); //fallback-placeholder img
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	
	.videoWrapper{
	 	height: 0;
	 	padding-bottom: 56.25%;
	
		> video{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
}

/*--------------------------------------------------------------
Homepage welcome section
--------------------------------------------------------------*/
.welcome{
	background: $brand_accent url('../img/butterflies.png') center bottom no-repeat;
	text-align: center;
	margin-top: -20px;
	
	h1{
		color: white;
	}
	
	p{
		color: white;
		text-transform: none;
	}
	
	button{
		margin-top: 36px;
	}
}


/*--------------------------------------------------------------
Homepage news section
--------------------------------------------------------------*/
.news{
	background: white;
	
	h1{
		color: $brand_main;
		text-align: center;
		padding-bottom: 20px;
	}
	
}
#featured{
	padding-right: 20px;
	
	article{
		margin: 0 0 5px 0;
	}
}
#latest{
	
	article{
		margin: 0 0 5px 0;
	}
}
.entry-title, .entry-title a{
	color: $brand_accent;
	/*truncate title to 1 line only*/
	/*overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100%;*/
}
.posted-on{
	display: block;
	margin: -15px 0 0 0;
}
.excerpt{
	margin: 15px 0 0 0;
}
a.read-more{
	display: inline;
	padding-left: 10px;
	color: $brand-accent;
}

/*--------------------------------------------------------------
Homepage partners section
--------------------------------------------------------------*/
.partners{
	background: $brand_offset;
	
	h1{
		color: white;
		text-align: center;
	}
}
	

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.site-footer{
	width: 100%;
	height: auto;
	margin: 0;
	color: white;
	background: $brand_accent;	
}
#footer-widgets .widget ul ul {
  	margin: 0 0 0 1.5em;
}

#footer-widgets.widget-count-2 .widget-area {
    float: left;
    width: 47.5%;
    margin-right: 5%;
}

#footer-widgets.widget-count-2 #footer-widget-2 {
    margin-right: 0;
}

#footer-widgets.widget-count-3 .widget-area {
    float: left;
    width: 30%;
    margin-right: 5%;
}

#footer-widgets.widget-count-3 #footer-widget-3 {
    margin-right: 0;
}






