/*--------------------------------------------------------------
Header & Top-Area
--------------------------------------------------------------*/
.masthead{
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
	height: 166px;
	background: $brand-main;
	z-index: 100;
	transition: all 0.5s ease;	
	
}
/*
.stickyhead{
	position: fixed;
	top: 0;
	max-width: 100%;
	height: 80px;
	background-color: rgba($brand-main, 0.94);
	
	.top-area {

	}
	
	.logo {
		background: url('../img/logo-small.png') 0 0 no-repeat;
		max-width: 190px;
		height: 39px;
		margin: -12px 0 0 0;
	}
}
*/
/*
.overflow { //covers the persistent stickyhead from view when overscrolling in safari. Easter egg?
	position: absolute;
	top: -500px;
	left: 0;
	right: 0;
	height: 1000px;
	z-index: 90;
	background-color: $brand-main;
	background-color: $brand-accent;
}
*/

.header{
	width: 100%;
	max-width: 1040px;
	height: auto;
	margin: 0 auto;
	padding: 30px;	
}
.logo{
	background: url('../img/logo-full.png') 0 0 no-repeat;
	float: left;
	width: 100%;
	max-width: 137px;
	height: 94px;
	margin: 0;
	padding: 0;
	transition: all 0.3s ease;
}
.logo.small{
	background: url('../img/logo-small.png') 0 0 no-repeat;
	max-width: 190px;
	height: 39px;
	margin: -12px 0 0 0;
	transition: all 0.3s ease;
}
.top-area{
	float: right;
	margin-right: 10px;
	background: #EB008B;
	position: relative;
	opacity: 1;
	transition: all 0.3s ease;
	margin: 13px 0 28px 0;
}
.social {
	float: left;
	margin: 2px 8px 0 0;
	opacity: 1;
	text-align: center;
	transition: opacity 0.3s ease;
	
	a li{
		display: inline;
		padding: 0px 1px;
		border-radius: 100%;
		text-align: center;
		vertical-align: middle;
		line-height: 35px;
		list-style: none;
	}
	
	.fa{ //font-awesome icon class
		background: white;
		width: 34px;
		height: 34px;
		font-size: 1.5em;
		line-height: 34px;
		border-radius: 50%;
		color: $brand-main;
		box-shadow: 2px 2px rgba(black, 0.2);
		transition: all 0.3s ease;
		
		&:hover{
			background-color: $brand-accent;
			color: white;
		}
	}		
}
.quick-links{
	float: left;
	margin: 0 3px;
	opacity: 1;
	transition: opacity 0.3s ease;
	
	button {
		font-size: 14px;
		font-weight: 700;
		padding: 10px 15px 9px 15px;
	}
}
button.join{
	margin: 0 8px;
}

/*--------------------------------------------------------------
Search
--------------------------------------------------------------*/
.search-elements {
    /* display: inline-block; */
    position: absolute;
    right: 0;
    top: -2px;
    opacity: 0;
	transition: opacity 0.4s ease;
}

.search {
	float: left;
	margin-top: 2px;
	
	.fa {
		background: white;
		width: 32px;
		height: 32px;
		font-size: 1.5em;
		line-height: 32px;
		border-radius: 50%;
		color: $brand-main;
		text-align: center;
		cursor: pointer;
		box-shadow: 2px 2px rgba(black, 0.2);
		margin-right: 12px;
		transition: all 0.3s ease;
		
		&:hover{
			background-color: $brand-accent;
			color: white;
		}
	}
	
	input[type="search"] {
		-webkit-appearance: none;
		outline: none;
		border-radius: 20px;
		height: 28px;
		text-indent: 10px;
		background-color: #ff39ae;
		border: 2px solid #ff39ae;
		transition: background-color 0.3s ease;
		width: 200px;
		height: 25px;
		vertical-align: middle;
		
		&:focus {
			background-color: white;
				&::placeholder {
					color: #D3D3D3;
				}
		}
		
		&::placeholder {
			color: white;
		}
	}
	
	input[type="submit"] {
		padding: 0 15px;
		background: white;
		text-transform: uppercase;
		color: #EB008B;
		border-radius: 1px;
		height: 29px;
		margin-left: 8px;
		transition: background-color 0.3s ease;
		
		&:hover {
			background-color: $brand-accent;
			color: white;
		}
	}
}

.search-expand {
	transform: translateX(-305px);
}

/*--------------------------------------------------------------
Container, Content, Pads (main)
--------------------------------------------------------------*/
.container{ //on all page layouts, set a max-width & padding
	max-width: 1040px;
	margin: 0 auto;
	padding: 72px 30px;
	overflow: hidden;
    zoom: 1;
}
body.home .container{ //on homepage layout, set to full width, use padding on ".content"
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
}
.content{ //used to pad homepage sections w/ different background colors
	max-width: 1040px;
	margin: 0 auto;
	padding: 72px 30px;
	overflow: hidden;
    zoom: 1;
}
.h-pad-bottom{ //h1 pads for section titles
	padding-bottom: 42px;
}


/*--------------------------------------------------------------
Homepage
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Homepage video section
--------------------------------------------------------------*/
.video{
	width: 100%;
	height: 566px;
	background: url('../img/vid-bg.jpg'); //placeholder img
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	z-index: 95;
	
	.videoWrapper{
	 	height: 0;
	 	padding-bottom: 56.25%;
	
		> video{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
}

/*--------------------------------------------------------------
Homepage welcome section
--------------------------------------------------------------*/
.welcome{
	background: $brand-accent url('../img/butterflies.png') center bottom no-repeat;
	text-align: center;
	margin-top: -20px;
	
	h1{
		color: white;
	}
	
	p{
		color: white;
		text-transform: none;
		font-size: 18px;
	}
	
	button{
		margin-top: 36px;
	}
}


/*--------------------------------------------------------------
Homepage news section
--------------------------------------------------------------*/
.news{
	background: white;
	
	h1{
		color: $brand-main;
		text-align: center;
	}

	img{
		opacity: 1;
		
		&:hover{
			opacity: 0.6;
		}
	}
	
}

.overlay{
	background: red;
}

#featured{
	padding-right: 20px;
	
	article{
		margin: 0 0 5px 0;
	}
}
#latest{
	
	article{
		margin: 0 0 5px 0;
	}
}
.entry-title, .entry-title a{
	color: $brand-accent;
	/*truncate title to 1 line only*/
	/*overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100%;*/
}
.posted-on, .posted-on a, .posted-on a:visited{
	display: block;
	margin: -15px 0 0 0;
	color: $body;
	text-transform: uppercase;
	font-weight: 100;
}
.excerpt{
	margin: 15px 0 0 0;
}
a.read-more{
	display: inline;
	padding-left: 10px;
	color: $brand-accent;
	&:hover{
		color: $brand-main;
	}
}

/*--------------------------------------------------------------
Homepage partners section
--------------------------------------------------------------*/
.partners{
	background: $brand-offset;
	
	h1{
		color: white;
		text-align: center;
	}
}
	

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.site-footer{
	width: 100%;
	height: auto;
	margin: 0;
	color: white;
	background: $brand-accent;	
}
#footer-widgets .widget ul ul {
  	margin: 0 0 0 1.5em;
}

#footer-widgets.widget-count-2 .widget-area {
    float: left;
    width: 47.5%;
    margin-right: 5%;
}

#footer-widgets.widget-count-2 #footer-widget-2 {
    margin-right: 0;
}

#footer-widgets.widget-count-3 .widget-area {
    float: left;
    width: 30%;
    margin-right: 5%;
}

#footer-widgets.widget-count-3 #footer-widget-3 {
    margin-right: 0;
}


/*--------------------------------------------------------------
About Page
--------------------------------------------------------------*/
.background-image {
	background-size: cover;
	padding: 0 0 72px 0;
	
	.container {
		padding: 20px 115px 55px 115px;
	}
	
	.entry-content {
		color: $font-color-body;
		font-size: 16px;
	}
}

.subnav {
	height: 55px;
	background-color: rgba(#58595B, 0.75);
	margin-bottom: 72px; 
	
	.container {
		padding: 0;
	}
	
	ul {
		margin: 0;
	}
	
	li {
		display: table;
		float: left;
		list-style-type: none;
		text-align: center;
		width: 25%;
		transition: background-color 0.3s ease;
		
		a {
			display: table-cell;
			vertical-align: middle;
			height: 55px;
			padding: 0 10px;
			color: white;
			font-family: $font-header;
			text-transform: uppercase;
		}

	}
	
	li:nth-child(1) { // About Lauren
		background-color: $brand-accent;
		&:hover {
			background-color: lighten($brand-accent, 6%);
		}
	}
	
	li:nth-child(2) { // Our Team
		background-color: $light-teal;
		&:hover {
			background-color: lighten($light-teal, 6%);
		}
	}
	
	li:nth-child(3) { // Speaking Engagements
		background-color: $bright-pink;
		&:hover {
			background-color: lighten($bright-pink, 6%);
		}
	}
	
	li:nth-child(4) { // Books
		background-color: $soft-pink;
		&:hover {
			background-color: lighten($soft-pink, 6%);
		}
	}
	
	.current-menu-item a {
		border-bottom: 3px solid white;
		font-weight: 700;
		cursor: default;
	}
}
.centered-text {
	text-align: center;
}

.translucent {
	background-color: fade-out(white, 0.1);
}

.butterfly {
	position: relative;
	margin-top: 25px;
		

	&:after {
		content: url("../img/butterfly.png");
		position: absolute;
		top: -21px;
		margin-left: -7px;
	}
}

/*--------------------------------------------------------------
Boxes on About, Donate pages
--------------------------------------------------------------*/

.boxes {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 40px 0 0 0;
	
	section {
		width: 243px;
		margin: 40px 27px 40px 0;
		padding-left: 27px;
	}	
	
	section + section {
		padding-left: 26px;
		margin-left: 0;
		border-left: 1px solid #d7d7d7;
	}
	
	.icons {
		margin: 0 auto 25px auto;
		height: 121px;
		width: 121px;
		background-repeat: no-repeat;
		background-position: center center;
		transition: all 0.3s ease;
	}
	
	//About Page's boxes
	.education-icon {
		background-image: url(../img/iconcircle_education.png);
	}
	.awareness-icon {
		background-image: url(../img/iconcircle_awareness.png);
	}
	.advocacy-icon {
		background-image: url(../img/iconcircle_advocacy.png);
	}
	
	p {
		
	}
	
	section:hover {
		
		// About Page's boxes
		.education-icon{
			background-image: url(../img/iconcircle_education_hover.png);
		}
		.awareness-icon {
			background-image: url(../img/iconcircle_awareness_hover.png);
		}
		.advocacy-icon {
			background-image: url(../img/iconcircle_advocacy_hover.png);
		}
		
		h3 {
			color: $brand-main;
		}
		
		button {
			background-color: $brand-main;
		}
	}
}
