/*--------------------------------------------------------------
Header & Top-Area
--------------------------------------------------------------*/
.masthead{
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
	height: 166px;
	background: $brand-main;
	z-index: 100;
	transition: all 0.5s ease;

	
	&.home-page {
		background: transparent;
		
		.fa, button {
			color: white;
			background-color: transparent;
			border: 1px solid white;
			box-shadow: none;
			
			&:hover {
				background-color: $brand-main;
				border-color: $brand-main;
			}
		}
		
		&:hover {
			background-color: rgba(black, 0.35);
		}
	}
}

body.home {
	border: none;
	margin-top: 0;
	position: relative;
	
	.container { //on homepage layout, set to full width, use padding on ".content"
		width: 100%;
		max-width: 100%;
		margin: 0;
		padding: 0;
	}
}

body.sticky {
	
	.masthead {
		transform: translate3d(0,-96px,2px);
		background-color: rgba($brand-main, 0.9);
		
		
		&:hover {
			background-color: $brand-main;
		}
		
		.top-area {
			opacity: 0;
		}
		
		.logo {
			// transform: translateY(96px);
		}

	}
	
	.main-navigation {
		transform: translateY(16px);
	}
	
	.subnav {
		transform: translateY(-96px);
	}
}

/*
.stickyhead{
	position: fixed;
	top: 0;
	max-width: 100%;
	height: 80px;
	background-color: rgba($brand-main, 0.94);
	
	.top-area {

	}
	
	.logo {
		background: url('../img/logo-small.png') 0 0 no-repeat;
		max-width: 190px;
		height: 39px;
		margin: -12px 0 0 0;
	}
}
*/
/*
.overflow { //covers the persistent stickyhead from view when overscrolling in safari.
	position: absolute;
	top: -500px;
	left: 0;
	right: 0;
	height: 1000px;
	z-index: 90;
	background-color: $brand-main;
	background-color: $brand-accent;
}
*/

.header {
	width: 100%;
	max-width: 1040px;
	height: auto;
	margin: 0 auto;
	padding: 30px;	
}
.logo {
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
	transition: all 0.5s ease;
	
	.logo-heart {
		display: inline-block;
		transform: translateX(4px);
		margin-bottom: 5px;
		transition: all 0.5s ease;
		
	}
	.logo-letters {
		transition: all 0.5s ease;
		
	}
}
.sticky .logo {
	
	.logo-heart {
		transform: scale(0.65) translate(-75px, 101px);
	}
	
	.logo-letters {
		transform: translate(43px, 20px);
	}
}
.top-area {
	float: right;
	margin-right: 10px;
	position: relative;
	opacity: 1;
	transition: all 0.5s ease;
	margin: 13px 0 28px 0;
}
.social {
	float: left;
	margin: 2px 8px 0 0;
	opacity: 1;
	text-align: center;
	transition: opacity 0.5s ease;
	
	a li{
		display: inline;
		padding: 0px 1px;
		border-radius: 100%;
		text-align: center;
		vertical-align: middle;
		line-height: 35px;
		list-style: none;
	}
	
	.fa{ //font-awesome icon class
		background: white;
		width: 34px;
		height: 34px;
		font-size: 1.5em;
		line-height: 34px;
		border-radius: 50%;
		color: $brand-main;
		box-shadow: $box-shadow;
		transition: all 0.3s ease;
		
		&:hover{
			background-color: $brand-accent;
			color: white;
		}
	}		
}
.quick-links{
	float: left;
	margin: 0 3px;
	opacity: 1;
	transition: opacity 0.3s ease;
	
	button {
		font-size: 14px;
		font-weight: 700;
		padding: 10px 15px 9px 15px;
		color: $brand-main;
		
		&:hover {
			background-color: $brand-accent;
		}
	}
}
button.join{
	margin: 0 8px;
}

/*--------------------------------------------------------------
Search
--------------------------------------------------------------*/
.search-elements {
    position: absolute;
    top: 3px;
    right: 0;
    opacity: 0;
	transition: opacity 0.4s ease;
}

.search-nav {
	float: left;
	margin-top: 2px;
	
	.fa {
		background: white;
		width: 32px;
		height: 32px;
		font-size: 1.5em;
		line-height: 32px;
		border-radius: 50%;
		color: $brand-main;
		text-align: center;
		cursor: pointer;
		box-shadow: $box-shadow;
		transition: all 0.3s ease;
		
		&:hover{
			background-color: $brand-accent;
			color: white;
		}
	}
	
	input[type="search"] {
		-webkit-appearance: none;
		outline: none;
		border-radius: 20px;
		text-indent: 10px;
		background-color: lighten($brand-main, 15%);
		border: none;
		width: 200px;
		height: 24px;
		box-shadow: $box-shadow;
		transition: background-color 0.3s ease;

		
		&:focus {
			background-color: white;
				&::placeholder {
					color: $light-grey;
				}
		}
		
		&::placeholder {
			color: white;
		}
	}
	
	input[type="submit"] {
		padding: 0 15px;
		background: white;
		text-transform: uppercase;
		color: #EB008B;
		border-radius: 1px;
		height: 29px;
		margin-left: 8px;
		transition: background-color 0.3s ease;
		
		&:hover {
			background-color: $brand-accent;
			color: white;
		}
	}
}

.search-expand {
	transform: translateX(-311px);
}

.search {
	article.post a {
		display: block;
		
		&:hover h3 {
			color: $brand-accent;
		}
	}
	.entry-content span {
		color: $body;
	}
}


/*--------------------------------------------------------------
Container, Content, Pads (main)
--------------------------------------------------------------*/
.container { //on all page layouts, set a max-width & padding
	max-width: 1040px;
	margin: 0 auto;
	padding: 72px 20px;
	overflow: hidden;
    zoom: 1;
}
.content { //used to pad homepage sections w/ different background colors
	max-width: 1040px;
	margin: 0 auto;
	padding: 72px 30px;
	overflow: hidden;
    zoom: 1;
}
.h-pad-bottom { //h1 pads for section titles
	padding-bottom: 42px;
}


/*--------------------------------------------------------------
Homepage
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Homepage video section
--------------------------------------------------------------*/
.video-wrapper {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 0;
	background: $brand-offset url(img/vid-bg.jpg) no-repeat cover;
	
	video {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		min-height: 100%;
		min-width: 100%;
	}
	
	img {
		display: none;
	}
}


/*--------------------------------------------------------------
Homepage welcome section
--------------------------------------------------------------*/
.welcome {
	background: $brand-accent url('../img/butterflies.png') center bottom no-repeat;
	text-align: center;
	margin-top: 100vh;
	position: relative;
	z-index: 10;
	transform: translateZ(1px);
	
	h1 {
		color: white;
		margin-bottom: 36px;
	}
	
	p {
		color: white;
		text-transform: none;
		font-size: 18px;
	}
	
	button {
		margin-top: 36px;
		font-size: 20px;
		font-weight: 100;
		padding: 8px 25px;
	}
}


/*--------------------------------------------------------------
Homepage news section
--------------------------------------------------------------*/
.news {
	background: white;
	position: relative;
	z-index: 10;
	transform: translateZ(1px);
	
	h1{
		color: $brand-main;
		text-align: center;
	}
	
}

.featured {
	padding-right: 19px;
	border-right: 1px solid $light-grey;
}

.latest article {
	margin: 0 0 5px 0;
	float: left;	
}

.excerpt {
	text-align: left;
	
	p {
		margin: 15px 0 0 0;
	}
}

.featured .excerpt {
	padding: 15px;
}

.latest-preview {
	background-color: white;
	position: relative;
	text-align: center;
	
	.featured-thumb + img {
		max-width: 100%;
		height: 234px;
		z-index: 1;	
	}
	
	.news-thumb + img {
		max-width: 100%;
		height: 140px;
		z-index: 1;	
		
	}
	
	a {
		display: block;
	}
	
	h4 {
		color: $brand-accent;
		margin-top: 15px;
		/*truncate title to 1 line only*/
		/*
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		*/
	}
	
	h5 {
		font-size: 14px;
		font-weight: 100;
		color: $body;
	}
	
	&:hover {
	
		h4 {
			color: $brand-main;
		}
		
		img {
			filter: grayscale(0.5) blur(2px);
		}
		
		.featured-thumb, .news-thumb {
			opacity: 0.4;
		}
	}

}

.latest-preview + .latest-preview {
	margin-top: 15px;
}

.news-thumb {
	background-color: $brand-accent;
	height: 140px;
	width: 192px;
	opacity: 0;
	position: absolute;
	top: 0;
	z-index: 2;
	transition: opacity 0.3s ease;
	
    + img {
		font-size: 0;
		width: auto;
		margin-right: 20px;
		float: left;
	    
    }
}
	
.featured-thumb {
	background-color: $brand-accent;
	font-size: 0;
	height: 234px;
	width: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	z-index: 2;
	transition: opacity 0.3s ease;
	
}

.entry-meta {
	text-align: left;
}

/*--------------------------------------------------------------
Homepage partners section
--------------------------------------------------------------*/
.partners {
	background: $brand-offset;
	height: 384px;
	position: relative;
	z-index: 10;
	transform: translateZ(1px);
	
	h1 {
		color: white;
		margin-bottom: 36px;
	}
	
	.content {
		padding: 72px 0;
	}
}

/*
.gradient-container {
	position: relative;
	
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 30px;
		background-image: linear-gradient( to right, rgba($brand-offset, 0.9), rgba(0,0,0,0) );
	}
	
	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 30px;
		background-image: linear-gradient( to left, rgba($brand-offset, 0.9), rgba(0,0,0,0) );
	}
}
*/

.all-supporters {
	overflow-x: scroll;
	white-space: nowrap;
	padding: 0 30px 15px 30px;
		
}

.supporter-contain {
	width: 238px;
	height: 173px;
	display: inline-block;
	box-shadow: $box-shadow;
	background-color: white;
	padding: 20px;
}

.supporter {
	width: 100%;
	height: 100%;	
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.supporter-contain + .supporter-contain {
	margin-left: 9px;
	
}
.supporter-contain:nth-child(4n) {
	margin-right: 30px;
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.site-footer {
	width: 100%;
	height: auto;
	margin: 0;
	color: white;
	background: $brand-accent;
	position: relative;
	z-index: 10;
}
.home .site-footer {
	transform: translateZ(1px);
}

.widget-title {
	display: none;
}

footer .widget-title {
	color: white;
	display: block;
}

#footer-widgets .widget ul ul {
  	margin: 0 0 0 1.5em;
}

#footer-widgets.widget-count-2 .widget-area {
    float: left;
    width: 47.5%;
    margin-right: 5%;
}
    
.textwidget a {
	display: block;
    margin-top: 15px;
}

#footer-widgets.widget-count-2 #footer-widget-2 {
    margin-right: 0;
}

#footer-widgets.widget-count-3 .widget-area {
    float: left;
    width: 30%;
    margin-right: 5%;
}

#footer-widgets.widget-count-3 #footer-widget-3 {
    margin-right: 0;
}

.padded {
	padding: 0 95px;
}

/*--------------------------------------------------------------
Twitter
--------------------------------------------------------------*/
.tp_recent_tweets {
	float: left;
	clear: left;
	background-color: darken($brand-accent, 3%);
	padding: 7px 7px 0 7px;
	
	ul {
		margin: 0;
	}
	
	li {
		list-style-type: none;
		padding-left: 30px;
		padding-bottom: 15px;
		float: left;
		clear: left;
		line-height: 20px;
		
		&:before {
			content: '\f099';
			font-family: 'FontAwesome';
			font-size: 23px;
			margin: 0px 5px 0 -27px;
		}
		
		a, a:visited {
			color: $off-white;
			font-weight: bold;	
			
			&:hover {
				background-color: $brand-offset;
			}
		}
	}
	
	li + li {
		border-top: 1px solid $light-grey;
		padding-top: 15px;
	}
	
	.twitter_time {
		font-size: 12px;
		font-style: italic;	
		font-weight: normal;
	}
}

/*--------------------------------------------------------------
About Page
--------------------------------------------------------------*/
.background-image {
	background-size: cover; 
//	background-position-x: -500px;
	background-repeat: no-repeat;
	padding: 0 0 72px 0;
	
	.container {
		padding: 20px 30px 55px 30px;
	}
	
	.entry-content {
		color: $font-color-body;
		font-size: 16px;
	}
}

.subnav {
	height: 48px;
	background-color: rgba($brand-offset, 0.75);
	margin-bottom: 72px;
	width: 100%;
	position: fixed;
	z-index: 10;
	transition: all 0.5s ease;
	
	.container {
		padding: 0;
	}
	
	ul {
		margin: 0;
		width: 100%;
	}
	
	li {
		display: table;
		width: 25%;
		float: left;
		list-style-type: none;
		text-align: center;
		transition: background-color 0.3s ease;
		
		a {
			display: table-cell;
			vertical-align: middle;
			height: 48px;
			padding: 0 8px;
			color: white;
			font-family: $font-header;
			text-transform: uppercase;
			
			&:hover {
				color: white;
			}
		}

	}
	
	li:nth-child(1) { // About Lauren
		background-color: rgba($brand-accent, 0.75);
		&:hover {
			background-color: lighten($brand-accent, 6%);
		}
	}
	
	li:nth-child(2) { // Our Team
		background-color: rgba($light-teal, 0.75);
		&:hover {
			background-color: lighten($light-teal, 6%);
		}
	}
	
	li:nth-child(3) { // Speaking Engagements
		background-color: rgba($bright-pink, 0.75);
		&:hover {
			background-color: lighten($bright-pink, 6%);
		}
	}
	
	li:nth-child(4) { // Books
		background-color: rgba($soft-pink, 0.75);
		&:hover {
			background-color: lighten($soft-pink, 6%);
		}
	}
	
	.current-menu-item a, .current-page-ancestor a {
		text-decoration: underline;
		font-weight: 700;
	}
}

.size-1 li {width: 100%}
.size-2 li {width: 50%}
.size-3 li {width: 33.333%}
.size-3 li:nth-child(2) {width: calc(33.333% + 2px)} // fixes rounding issues with the 33% width
.size-4 li {width: 25%}
.size-5 li {width: 20%}


.centered-text {
	text-align: center;
}

.translucent {
	background-color: rgba(white, 0.85);
	
	.entry-header {
		padding-top: 90px;
	}
}

.butterfly {
	position: relative;
	margin-top: 25px;
		

	&:after {
		content: url("../img/butterfly.png");
		position: absolute;
		top: -24px;
		margin-left: -5px;
	}
}

/*--------------------------------------------------------------
Boxes on About, Donate pages
--------------------------------------------------------------*/
p + .boxes {
	margin-top: 35px;
}

.boxes-3 section { width: 256px; } // 3 box rows
.boxes-4 section { width: 225px; } // 4 box rows

.boxes {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	
	section {
		margin: 0 20px 40px 0;
		padding-left: 20px;
	}	
	
	section + section {
		padding-left: 19px;
		margin-left: 0;
		border-left: 1px solid #d7d7d7;
	}
	
	.icons {
		margin: 0 auto 40px auto;
		height: 121px;
		width: 121px;
		border-radius: 50%;
		background-color: $brand-accent;
		background-repeat: no-repeat;
		background-position: center center;
		transition: all 0.3s ease;
	}
	
	//About Page's boxes
	.education-icon {
		background-image: url(../img/education.png);
	}
	.awareness-icon {
		background-image: url(../img/awareness.png);
	}
	.advocacy-icon {
		background-image: url(../img/advocacy.png);
	}
	.licenseplate-icon {
		background-image: url(../img/licenseplate.png);
	}
	.shop-icon {
		background-image: url(../img/shop.png);
	}
	.materials-icon {
		background-image: url(../img/materials.png);
	}
	.volunteer-icon {
		background-image: url(../img/volunteer.png);
	}
	
	section:hover {
		
		// About Page's boxes
		.icons {
			background-color: $brand-main;
		}
		
		h3 {
			color: $brand-main;
		}
		
		button {
			background-color: $brand-main;
		}
	}
}

.donate + .donate {
	margin-left: 25px;
}

/*--------------------------------------------------------------
What's New? Singles: single.php, content-single.php
--------------------------------------------------------------*/

.off-white { //added by php in header.php to div#page if is single
	background-color: $off-white;
}

.post, .survivor-stories {
	width: 74.6%;
	float: left;
	background-color: white;
	
}

/*--------------------------------------------------------------
General Interior Page
--------------------------------------------------------------*/
.banner {
	height: 412px;
	padding: 0;
	background-position: bottom center;
}

.interior .entry-header {
	padding: 0;
}

.interior-page-content {
	width: 73.3%;
	float: right;
}

.page-testimonial {
	width: 23.3%;
	float: left;
	margin-top: 29px;
	
	.testimonial {
		background-color: #FEF5F9;
	}
}

.grandchildren-links {
	
	li {
		list-style-type: none;
	}
	
	a {
		display: block;
		height: 40px;
		color: white;
		line-height: 40px;
		font-family: $font-header;
		font-size: 22px;
		font-weight: 100;
		padding-left: 20px;
		margin-top: 15px;
		background-color: $brand-accent;
		box-shadow: $box-shadow;
		transition: background-color 0.3s ease;
		
		&:hover {
			background-color: $brand-main;
			color: white;
			
		}
	}
	
	hr {
		margin: 15px 0;
	}
	
	.current_page_item a{
		background-color: $soft-pink;
	}
}

/*
.grandchildren-links + aside.widget {
	border-top: 1px solid $light-grey;
	margin-top: 25px;
	padding-top: 25px;
}
*/

/*--------------------------------------------------------------
Single's Sidebar: sidebar.php
--------------------------------------------------------------*/

.single-sidebar {
	width: 23.7%;
	float: right;
	padding-top: 35px;
	
	hr {
		margin: 35px 0;
	}
	
}
.archive article.post {
	margin-right: 1.7%;
	
}

.archive .single-sidebar {
	float: none;
	overflow: hidden;
}

.sidebar-search {

	.search-field {
		border: none;
		border-radius: 0;
		box-sizing: border-box;
		box-shadow: 2px 2px 0 0 rgba(black, 0.1);
		height: 35px;
		width: 100%;	
		padding: 0 10px;
		margin-top: 25px;
		border-left: 5px solid $brand-accent;
		transition: border 0.3s ease;
		
		&::placeholder {
			color: $light-grey;
		}
		
		&:focus {
			border-left-color: $brand-main;
		}
		
		
	}
	.search-submit {
		display: none;		
	}
}

.sidebar-nav {
	display: block;
	background-color: $brand-accent;
	color: white;
	height: 40px;
	h5 {
		line-height: 40px;
	}
	padding-left: 20px;
	margin-top: 15px;
	cursor: pointer;
	box-shadow: $box-shadow;
	transition: background-color 0.3s ease;
	
	&:hover {
		background-color: $brand-main;
		color: white;
		
	}
}

.recent-posts {
	margin-top: 10px;
	
	li {
		list-style-image: url(../img/butterfly-bullet_green.png);
		margin-top: 5px;
		font-size: 12px;
		
		&:hover {
			list-style-image: url(../img/butterfly-bullet_hover.png);
			
			a {
				color: $brand-main;
			}
			
		}
	}
}

.testimonial {
	background-color: white;
	padding: 15px;
	text-align: right;
	margin-top: -5px;
	

	h4 {
		color: $brand-main;
		text-align: left;
		margin-bottom: 15px;
	}
	p {
		text-align: left;
	}
	hr {
		margin: 15px 0;
	}
	cite {
		text-transform: uppercase;
		font-style: normal;
		font-weight: 100;
		font-family: $font-header;
		font-size: 13px;
		line-height: 0.5;
	}
}

/*--------------------------------------------------------------
Single's post content
--------------------------------------------------------------*/
.entry-header {
	padding: 35px 35px 0 35px;
}

.entry-title {
	color: $brand-main;
	line-height: 1.1;
	margin: 0;
}

.entry-metadata {
	color: $brand-offset;
	font-weight: 100;
	font-size: 12px;
	text-transform: uppercase;
	margin-top: 5px;
	
	ul {
		display: inline;
		font-size: 0;
	}
	
	li {
		display: inline;
		list-style: none;
		font-size: 12px;
	}
	li + li:before { //handles multiple categories
		content: ", ";
		
	}
}

.post-feature {
	margin: 35px 0;
	background-color: rgba($brand-accent, 0.16);

	img {
		display: block;
		margin: auto;
	}
}

article:not(.page) .entry-content {
	padding: 0 35px 35px 35px;
	margin: 0;
}

.post-footer {
	margin: 0 35px 35px 35px;
	padding: 10px 0;
	border-top: 2px solid $light-grey;
	border-bottom: 2px solid $light-grey;
	font-weight: 100;
	text-transform: uppercase;
	line-height: 40px;
}
.post-tags {
	float: left;
	height: 40px;
}
.post-share {
	float: right;
}

.fb-comments {
	width: calc(100% - 70px);
	margin: auto;
}


/*--------------------------------------------------------------
UWPQSF form
--------------------------------------------------------------*/

#uwpqsf_id {
	border: none;
	width: 80%;
	margin: 40px auto 72px auto;
}

#uwpqsf_id_key {
	border: none;
	border-radius: 0;
	box-sizing: border-box;
	box-shadow: 2px 2px 0 0 rgba(black, 0.1);
	height: 35px;
	width: 250px;	
	padding: 0 10px;
	border-left: 5px solid $brand-accent;
	transition: border 0.3s ease;
	
	&::placeholder {
		color: $light-grey;
	}
	
	&:focus {
		border-left-color: $brand-main;
	}
}

.tax-radio-0 {
		
	label {
		display: inline-block;
		height: 35px;
		margin-right: 17px;
		text-align: center;
	}
	
	span {	
		padding: 4px 26px;
		color: white;
		line-height: 35px;
		font-size: 22px;
		font-family: $font-header;
		font-weight: 100;
		text-transform: uppercase;
		
		background-color: $brand-accent;
		box-shadow: $box-shadow;
		transition: background-color 0.3s ease;
		
		&:hover {
			background-color: $brand-main;
			cursor: pointer;
		}
	}
	
	input[type="radio"] {
		position: absolute;
		visibility: hidden;
		
		&:checked + span {
			background-color: $brand-main;
		}
	}
}

#uwpqsffrom_119 > div:nth-child(5) > label {
	display: none;
}

.uwpqsf_class {
	display: inline-block;
	vertical-align: top;
}

.uwpqsfpagi {
	position: absolute;
	bottom: -35px;
	left: 0;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
}
	
.upagievent {
	display: inline-block;
	height: 35px;
	min-width: 35px;
	line-height: 35px;
	font-size: 22px;
	font-family: $font-header;
	padding: 0 10px;
	color: white;
	background-color: $brand-accent;
	transition: background-color 0.3s ease;
	
	&:hover {
		background-color: $brand-main;
		color: white;
	}
}
	
.upagicurrent {
	background-color: $brand-offset;
	color: $light-grey;
}

.upagifirst {
	background-color: darken($brand-accent, 8%)
}
.upagiprevious {
	background-color: darken($brand-accent, 4%)
	
}
.upaginext {
	background-color: lighten($brand-accent, 4%)
	
}
.upagilast {
	background-color: lighten($brand-accent, 8%)
	
}
/*--------------------------------------------------------------
Loading Spinner
--------------------------------------------------------------*/

.loader {
	border-radius: 80%;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 0;
	left: 48%;
	left: calc(50% - 25px);
	animation: spin .675s linear 0 infinite normal;
	background: lightgrey;
	
	&:before,
	&:after {
		content: "";
		display: block;
		position: absolute;
	}
	
	&:before {
		border-radius: 0 90px 90px 0;
		height: 50px;
		width: 50%;
		top: 0;
		right: 0;
		background-color: $brand-accent;
		background-image: linear-gradient( lightgrey, $brand-accent);
		z-index: 1;
	}
	
	&:after {
		border-radius: 80%;
		height: 40px;
		width: 40px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: $off-white;
		z-index: 1;
	}
}

@keyframes spin {
	to {
    	transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
Blog Loop -- What's New?, Survivor Stories
--------------------------------------------------------------*/
.blog-container {
	min-height: 700px;
	min-height: 100vh;
	position: relative;
}

#lk-blog, #survivor-stories {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
}

.lk-post {
	align-self: flex-start;
	width: 237px;
	height: auto;
	margin-bottom: 17px;
	background-color: white;
	position: relative;
	
	img {
		width: 100%;
		height: 172px;
		margin-bottom: -5px;
		z-index: 1;

	}
	
	h3 {
		font-size: 22px;
	}
	
	&:hover {
		
		h3 {
			color: $brand-main;
		}
		
		.post-img {
			opacity: 0.4;
		}
		
		img {
			filter: grayscale(0.5) blur(2px);
		}
	}
}

.post-img {
	background-color: $brand-accent;
	opacity: 0;
	height: 173px;
	width: 237px;
	position: absolute;
	top: 0;
	transition: opacity 0.3s ease;
	z-index: 2;

}

.post-preview {
	padding: 17px;
	
	h5 {
		font-size: 14px;
		font-weight: 100;
		color: $body;
	}
	
	hr {
		margin: 10px 0;
	}
	
	p {
		overflow: hidden;
	}
}


.featured-post {
	width: 491px;
	width: 237px;
}

.submit-story {
	margin-top: 30px;
}

/*--------------------------------------------------------------
Archive
--------------------------------------------------------------*/
.archive {
	article.post a {
		display: block;
		
		&:hover h3 {
			color: $brand-accent;
		}
	}
	.entry-content span {
		color: $body;
	}
}

.archive-list {
	max-height: 0;
	margin-top: 15px;
	opacity: 0;
	transition: all 0.5s ease;
	overflow: hidden;
	
	li {
		list-style-type: square;
		font-family: $font-header;
		font-size: 20px;
		margin-left: 20px;
	}
}

.open {
	max-height: 300px;
	overflow-y: scroll;
	opacity: 1;
	
}

/*--------------------------------------------------------------
404
--------------------------------------------------------------*/
.error-404 {
	width: 50%;
	margin: 5px auto 150px auto;
	padding: 35px 5px;
	background-color: rgba(white, 0.7);
	
}

.search-404 {
	margin-top: 35px;
	
	input[type="search"] {
		border: none;
		border-radius: 0;
		box-sizing: border-box;
		box-shadow: 2px 2px 0 0 rgba(black, 0.1);
		height: 35px;
		width: 300px;	
		padding: 0 10px;
		margin-top: 25px;
		border-left: 5px solid $brand-accent;
		transition: border 0.3s ease;
		
		&::placeholder {
			color: $light-grey;
		}
		
		&:focus {
			border-left-color: $brand-main;
		}
	}
}

.error404 #page {
	background: $off-white url(../img/buddy.png) no-repeat center 210px;
}

/*--------------------------------------------------------------
FAQs
--------------------------------------------------------------*/
.faq {
	height: auto;
	margin-bottom: 15px;
}

.question {
	padding: 10px;
	background-color: $light-teal;
	cursor: pointer;
	position: relative;
	transition: background-color 0.5s ease;
	
	p {
		line-height: 1.2;
		font-family: $font-header;
		font-size: 22px;
		margin-left: 30px;
		color: white;
		
		&:before {
			content: "\f00d";
			display: inline-block;
			position: absolute;
			font-family: 'FontAwesome';
			font-size: 20px;
			margin-left: -25px;
			transform: rotate(45deg);
			transition: transform 0.6s ease;
		}
		
	}
}

.answer {
	max-height: 0;
	padding: 0 50px 0 25px;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	background-color: $off-white;
	transition: all 0.5s ease;
}

.opened {
	
	.question {
		background-color: darken($light-teal, 15%);
		
		p:before {
			transform: rotate(-90deg);
		}
	}
	
	.answer {
		max-height: 700px;
		padding: 25px 25px 25px 50px;
		overflow-y: scroll;
		opacity: 1;
		pointer-events: all;
	}
}