/*--------------------------------------------------------------
Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Menus
--------------------------------------------------------------*/
.main-navigation {
	float: right;
	
	ul{
		list-style: none;
		margin: 0;
		padding-left: 0;
		background: black;
		
		li{
			float: left;
			position: relative;
			padding: 0 10px;
			text-transform: uppercase;
			
			a{
				padding: 0 2px;
				color: white;
				text-decoration: none;
				font-family: $font-header;
				font-weight: 700;
				border-bottom: 2px solid rgba(0,0,0,0);
				transition: border-bottom-color 0.3s ease;
				
				&:hover {
					border-bottom-color: rgba(255,255,255,1);
				}
			}
		}
	}
}

.main-navigation ul ul {
	float: left;
	position: absolute;
	width: 210px;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
	background: $brand-accent;
	//box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	
	li{
		
	}
	
	a {
		width: 200px;
		&:hover{
			border-bottom: 0;
		}
	}
	
	ul{
		left: -999em;
		top: 0;
	}
}


.main-navigation ul li:hover > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul {
	left: 100%;
}

/*
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
}*/

/* mobile menu */
.menu-toggle {
	display: none;
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}