/*--------------------------------------------------------------
Screens shorter than 1080pc hight
--------------------------------------------------------------*/
@media screen and (max-height: 1079px) { 
/*
	.entry-feature img {
		width: 50%;
		margin: 0 auto;
	}
*/
}




/*--------------------------------------------------------------
Above 801px
--------------------------------------------------------------*/
@media screen and (min-width: 801px) { 

.social{
	button{
		margin: 0px 5px;
	}
}
#featured article + article {
	padding-top: 30px;
}
.entry-title, .entry-title a {
	// truncate title to 1 line only on desktop view
	/*
overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100%;
*/
}

}//end >801



/*--------------------------------------------------------------
Below 800px
--------------------------------------------------------------*/
@media screen and (max-width: 800px) { 
body {
	margin-top: -201px;
}

h1, h2{
  font-size: 24px;
}

.masthead {
	position: fixed;
	height: 64px;
	
	&.home-page {
		background-color: $brand-main;
		
		&:hover {
			background-color: $brand-main;
			
		}
		
		.fa {
			border: none;
		}
	}
}
.stickyhead {
	display: none;
}
.header {
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	
	a[rel="home"] {
		width: 193px;
		order: 2;
		
	}
}

.logo {
	display: inline-block;
	float: none;
	margin: 0;
	text-align: left;
	
	.logo-heart {
		transform: scale(0.65);
	}
		
	.logo-letters {
		
	}
}

.video-wrapper {
	
	video {
		display: none;
	}
	
	img {
		display: block;
		min-width: 400px;
	}
}

.welcome {
	margin-top: 267px;
}
		
.social{
	display: none;
}
.quick-links{
	display: none;
}

.top-area {
	order: 3;
	margin-top: 6px;
	height: 34px;
	overflow: visible;
	
	.fa {
		background-color: transparent;
		color: white;
		font-size: 2em;
		box-shadow: none;
		
		&:hover {
			background: transparent;
		}
	}
}

.menu-toggle {
	display: inline-block;
	margin: 10px 0px;
	padding: 0;
	background: transparent;
	color: white;
	border: none;
	box-shadow: none;
	cursor: pointer;
	
	span {
		position: relative;
		
		i {
			transition: opacity 0.3s ease;
		}
	}	
	
	.fa-bars {
		opacity: 1;
	}
	.fa-times {
		opacity: 0;
	}
}

.main-navigation {
	order: 1;
	
	ul {
		position: absolute;
		left: 0;
		height: 0;
		width: 100px;
		overflow: hidden;
		background: $brand-main;
		opacity: 0;
		transition: all 0.3s;

		
		li {
			float: none;
			margin: 0;
			padding: 0;
		}
	
		li + li:before {
				content: "";
				display: block;
				border: 0;
				margin: 5px 0;
				height: 3px;
				background-image: linear-gradient(to left, rgba(255,255,255,0) 40%, rgba(255,255,255,0.6) 80%, rgba(255,255,255,0.6) 100%);
			}
	}

	&.toggled .menu {
		height: 228px;
		width: 100%;
		padding: 20px;
		border: none;
		opacity: 1;
		box-shadow: none;
		
	}
}

.search-expand {
	transform: translateX(0);
}

.search-elements {
	width: 330px;
	top: 48px;
	right: -20px;
	background: rgba(white, 0.85);
	margin: 0;
	padding: 10px;
	z-index: 1;
	transform: translateX(400px);
	transition: all 0.5s ease;
}
.search-submit {
	-webkit-appearance: none;
}

.search-field {
	font-size: 20px;
}

.video {
	height: 266px;
	background-attachment: scroll;
	background-position: center center;
}
.excerpt {
	margin: 0px 0 15px 0;
	padding-bottom: 20px;
	border-bottom: 1px solid $border1;
}
#featured img, #latest img{
	display: none;
}
.grid_1, .grid_10, .grid_11, .grid_12, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9 {
	width: 100%;
}

}//end <800




/*--------------------------------------------------------------
Below 480px
--------------------------------------------------------------*/
@media screen and (max-width: 480px) {
h1, h2, h3 {
  font-size: 20px;
}
.content{
	padding: 52px 20px;
}
.h-pad-bottom{ //h1 pads for section titles
	padding-bottom: 22px;
}

//make all thumbnail attachments full width
.attachment-full{
	width: 100%; 
}

//if 3 or 2 widgets, make full width
#footer-widgets.widget-count-3 .widget-area, #footer-widgets.widget-count-2 .widget-area{
	float: none;
	width: auto;
	margin-right: 0;
}

    
}//end <480


/*--------------------------------------------------------------
Miscellaneous self-named classes to be added with JS; added to 
end to ensure override of the default 
--------------------------------------------------------------*/

.display-none {
	display: none;
}

.pointer-events-none {
	pointer-events: none;
}

.opacity-0 {
	opacity: 0;
}

.opacity-1 {
	opacity: 1;
	transform: translateX(0); // pulls search box in from left on mobile nav
}
