/*--------------------------------------------------------------
Above 801px
--------------------------------------------------------------*/
@media screen and (min-width: 801px) { 

.social{
	button{
		margin: 0px 5px;
	}
}
#featured article + article{
	padding-top: 30px;
}
.entry-title, .entry-title a{
	/*  truncate title to 1 line only on desktop view  */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100%;
}

}//end >801



/*--------------------------------------------------------------
Below 800px
--------------------------------------------------------------*/
@media screen and (max-width: 800px) { 
h1, h2{
  font-size: 24px;
}

.masthead{
	position: fixed;
	height: 64px;
}
.stickyhead {
	display: none;
}
.header{
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	
	a[rel="home"] {
		width: 193px;
		order: 2;
		
	}


	.logo{
		display: inline-block;
		float: none;
		margin: 0;
		background: url('../img/logo-small.png') center center no-repeat; //small logo
		max-width: 193px;
		height: 39px;
	}
}
		
.social{
	display: none;
}
.quick-links{
	display: none;
}

.top-area {
	order: 3;
	margin-top: 6px;
}

.menu-toggle {
	display: inline-block;
	margin: 10px 0px;
	padding: 0;
	background: transparent;
	color: white;
	border: none;
	box-shadow: none;
	&:hover{
		background: transparent;
	}
}
.main-navigation.toggled .nav-menu {
	display: inline-block;
	position: absolute;
	left: 0;
	width: 100%;
	padding: 20px;
	background: $brand-main;
	color: white;
	border: none;
	box-shadow: none;
}
.main-navigation{
	order: 1;
	
	ul{
		display: none;

		
		li{
			float: none;
			margin: 0;
			padding: 0;
	
			&:before{
				content: "";
				display: block;
				border: 0;
				margin: 5px 0;
				height: 3px;
				background-image: linear-gradient(to left, rgba(255,255,255,0) 40%, rgba(255,255,255,0.6) 80%, rgba(255,255,255,0.6) 100%);
			}
		}
	}
}
.video{
	height: 266px;
	background-attachment: scroll;
	background-position: center center;
}
.excerpt {
	margin: 0px 0 15px 0;
	padding-bottom: 20px;
	border-bottom: 1px solid $border1;
}
#featured img, #latest img{
	display: none;
}
.grid_1, .grid_10, .grid_11, .grid_12, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9 {
	width: 100%;
}

}//end <800




/*--------------------------------------------------------------
Below 480px
--------------------------------------------------------------*/
@media screen and (max-width: 480px) {
h1, h2, h3 {
  font-size: 20px;
}
.content{
	padding: 52px 20px;
}
.h-pad-bottom{ //h1 pads for section titles
	padding-bottom: 22px;
}

//make all thumbnail attachments full width
.attachment-full{
	width: 100%; 
}

//if 3 or 2 widgets, make full width
#footer-widgets.widget-count-3 .widget-area, #footer-widgets.widget-count-2 .widget-area{
	float: none;
	width: auto;
	margin-right: 0;
}

    
}//end <480