/* LK main stylesheet: "style.scss", compiling to "css/style.css"
-------------------------------------------------------------- */

/* Color variables
-------------------------------------------------------------- */
$brand_main: #EB008B; //pink 
$brand_accent: #008996; //teal 
$brand_offset: #58595B; //grey
$body: #444; //darker grey

/* Font variables
-------------------------------------------------------------- */
$font_body: 'Roboto Slab', sans-serif, Arial; //google font imported below
$font_header: 'proxima-nova-alt', sans-serif, Arial; //typekit font loaded via script in header

/* Font @imports
-------------------------------------------------------------- */
@import url('http://fonts.googleapis.com/css?family=Roboto+Slab:100,400,700');

/* Main @imports
-------------------------------------------------------------- */
@import 'reset';
@import 'default';
@import 'nav';
@import 'content';
@import 'layout';
@import 'grid';
@import 'responsive';

/* Vendor @imports
-------------------------------------------------------------- */
@import 'font-awesome';