// LK main stylesheet: "style.scss", compiling to "css/style.css"

// Color variables
$brand-main: #EB008B; 		//pink 
$brand-accent: #008996; 	//teal 
$brand-offset: #58595B; 	//grey

$body: #5B5B5B;				//darker grey - body font color
$light-grey: #d7d7d7;		//lighter grey - hr and placeholders
$menu: #555;
$off-white: #F7F7F5;		//off white for post and blog background
$pale-pink: #FEF5F9; 		//slight pink hue for testimonials and form bg

$font-color-body: #414042;

$box-shadow: 2px 2px rgba(black, 0.2); // global box shadow

// four sub-nav colors in about, education, awareness pages
$dark-teal: #008693;
$light-teal: #5D9BA7;
$bright-pink: #E95298;
$soft-pink: #ED9ABC;

//Font variables
$font-header: 'proxima-nova-alt', "Proxima Sans", sans-serif; //typekit font loaded via script in header
$font-body: 'Roboto Slab', sans-serif; //google font imported in header.php; weights: 100 400 700

// Main @imports
@import 'reset';
@import 'default';
//@import 'font-awesome';
@import 'fontello';
@import 'nav';
@import 'content';
@import 'layout';
@import 'grid';
@import 'responsive';

// Vendor @imports